<!-- Question Modal -->
<div id="question_modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        {{ modal.title }}
    </div>
    <div class="content">
        {{ modal.msg }}
    </div>
    <div class="actions">
        <div ng-click="modal_no()" class="ui black right labeled icon button">
            Nein
            <i class="close icon"></i>
        </div>

        <div ng-click="modal_yes()" class="ui black right labeled icon button">
            Ja
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>