    <div class="ui celled grid">
        <div class="one wide middle column">
            <i class="huge tasks icon"></i>
        </div>

        <div class="eight wide middle column">
            <h2 class="ui header">
                Veranstaltungen
            </h2>     
            <table class="ui table segment">
                <thead>
                    <td>Name</td>
                </thead>
                
                <tbody ng-repeat="veranstaltung in veranstaltungen">
                    <td><a href="#/veranstaltung/{{ veranstaltung.id }}">{{ veranstaltung.name }}</a></td>
                </tbody>

                <tfoot>
                    <tr>
                        <th>
                            <a href="#/veranstaltung/new"><div class="ui blue labeled icon button"><i class="add icon"></i>Neue Veranstaltung</div></a>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <div ng-include src="'app/views/shared/question_modal.html'"></div>