    <div class="ui celled grid">
        <div class="one wide middle column">
            <i class="large add sign icon"></i>
        </div>

        <div class="eight wide middle column">
            <h5 class="ui header">
                Neue Veranstaltung anmelden
            </h5>
            <div id="main_form" class="ui form segment">
                <div class="ui corner label">
                    <div class="text">New</div>
                </div>

                <div ng-include src="'app/views/shared/loading.html'"></div>

                <div class="field">
                    <label>
                        Antragsteller:
                    </label>
                    <input id="name" type="text" ng-model="data.name" placeholder="Vorname Nachname" required>
                </div>

                <div class="field">
                    <label>
                        E-Mail:
                    </label>
                    <input id="email" type="text" ng-model="data.email" placeholder="vorname.nachname@mdg-hamburg.de" required>
                </div>


                <div class="field">
                    <label>
                        Name Veranstaltung:
                    </label>
                    <input id="eventName" type="text" ng-model="data.eventName" placeholder="DSP Kurs XYZ" required>
                </div>

                <div class="field">
                    <label>
                        Veranstaltungs Ort:
                    </label>
                    <input id="eventLoc" type="text" ng-model="data.eventLoc" placeholder="Aula" required>
                </div>

                <div class="field">
                    <label>
                        Datum:
                    </label>
                    <input id="eventDate" type="text" ng-model="data.eventDate" placeholder="1.1.1971" ui-date required/>
                </div>

                <div class="field">
                    <label>
                        Zeitraum:
                    </label>
                    <input id="eventTime" type="text" ng-model="data.eventTime" placeholder="00:00 - 24:00" required>
                </div>

                <div class="field">
                    <label>
                        Voraussichtlicher Technik-Bedarf:
                    </label>
                    <textarea ng-model="data.eventReq" placeholder="2x Mikrophon, etc."></textarea>
                </div>

                <div class="field">
                    <label>
                        Weitere Anmerkungen:
                    </label>
                    <textarea ng-model="data.extra"></textarea>
                </div>
                

                <div class="ui checkbox">
                    <input type="checkbox">
                    <div class="box" ng-click="data.selfSent = !data.selfSent"></div>
                </div>
                <label>Antrag auch an <span ng-hide="data.email.length">deine@email.de</span><span>{{data.email}}</span> senden</label>

                <br />
                <br />

                <button class="ui teal labeled icon button" ng-click="commit()">
                    Veranstaltung anmelden
                    <i class="add icon"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-include src="'app/views/shared/modal.html'"></div>